@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* FONTS */

:root {
	--montserrat: "Montserrat", sans-serif;
	--montserrat-alternative: "Montserrat Alternates", sans-serif;
}

/* COLORS */

:root {
	--brown: #452b1a;
}

/* SIZES */
/* :root {
} */

body {
	color: white;
	margin: 0px;
	padding: 0px;
	font-family: var(--montserrat-alternative);
}

nav {
	height: 5rem;
	background-color: var(--brown);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#contact-text {
	margin-right: 3rem;
}

@media screen and (min-width: 481px) {
	#title {
		margin-left: 3rem;
	}
}

@media screen and (max-width: 480px) {
	nav {
		/* font-size: 0.7rem; */
		justify-content: center;
	}

	#contact-text {
		display: none;
	}
}
